{% extends 'base.html' %}
{%block head%}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
{%endblock%}

{%block content%}
<div class="mx-auto mb-4 text-center">
  <h2>All plots are made preliminarily in R, then saved to pngs and downloaded to page in &lt;img &gt; tags</h2>
  <p>For these plots I used the same datasets as in page with python plots</p>
  <h1>This is a barplot</h1>
  <img class='py-2 img-fluid w-50' id='scatter' src="{{url_for('static',filename='barplotR.png')}}"/>
  <h1>This is a heatmap</h1>
  <img class='py-2 img-fluid w-50' id='scatter' src="{{url_for('static',filename='heatmapR.png')}}"/>
  <h1>This is a scatterplot</h1>
  <img class='py-2 img-fluid w-50' id='scatter' src="{{url_for('static',filename='scatterR.png')}}"/>
</div>
{%endblock%}
