{% extends 'base.html' %}
{%block head%}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='bar.js') }}"></script>
<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
{%endblock%}

{%block content%}
<div class="mx-auto mb-4 text-center">
  <div class="table-responsive mb-4">
    <h2>This is a table loaded from csv file</h2>
    <p>I used <a href="https://www.kaggle.com/alexisbcook/bar-charts-and-heatmaps/data?select=flight_delays.csv">this</a> dataset from kaggle</p>
    <p>Each row corresponds to a month and each column shows an airline code. So each entry shows the average arrival delay (in minutes) for a different airline and month</p>
    <p>The dataset is stored as csv file. Then it's transformed to pandas dataframe and plots using seaborn are made each time page is loaded. This is to show the seaborn functionality</p>
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>Month</th>
          {%for t in table[0]%}
          <th>{{t}}</th>
          {%endfor%}
        </tr>
      </thead>
      <tbody>
        {%for i in range(12)%}
        <tr>
          <td>{{i+1}}</td>
          {%for j in table[i+1]%}
          <td>{{j}}</td>
          {%endfor%}
        </tr>
        {%endfor%}
      </tbody>
    </table>
  </div>
  <h1>This is a barplot</h1>
  <img class='py-2 img-fluid' id='barplot' src="data:image/gif;base64,{{ picture['bar'] }}"/>
  <div class="dropdown mb-4">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Choose different column in dataframe
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
  {%for i in names%}
  <li><a class="dropdown-item picsw" id="{{i}}">{{i}}</a></li>
  {%endfor%}
  </ul>
  </div>
  <h1>This is a heatmap</h1>
  <img src="data:image/gif;base64,{{ picture['heat'] }}"/>
  <h2>For the next plot I use <a href="https://www.kaggle.com/alexisbcook/bar-charts-and-heatmaps/data?select=insurance.csv">this</a> insurance dataset</h2>
  <p>This dataset was read from csv and written to table on sql server connected to the app. Each time this page is loaded, the sql query is made, than queried data is transformed to pandas dataframe and plot is made using seaborn</p>
  <h1>This is a scatter plot with linear regressions</h1>
  <img src="data:image/gif;base64,{{ picture['scat'] }}"/>
  </div>
{%endblock%}
