{% extends 'base.html' %}
{%block head%}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='bar.js') }}"></script>
<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
{%endblock%}

{%block content%}
<div class="mx-auto text-center">
  <h1>This is a barplot</h1>
  <p>The plot is made on the server side each time page is loaded. This is made to show the seaborn functionality</p>
  <img id='barplot' src="data:image/gif;base64,{{ picture['bar'] }}"/>
  <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Choose different column in dataframe
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
  {%for i in names%}
  <li><a class="dropdown-item picsw" id="{{i}}">{{i}}</a></li>
  {%endfor%}
  </ul>
  </div>
  <h1>This is a heatmap</h1>
  <img src="data:image/gif;base64,{{ picture['heat'] }}"/>
  </div>
{%endblock%}
